@using eshoppgsoftweb.lib.Models.Ecommerce
@model TransportTypePagingListModel

@{
    string urlInsert = Url.Content("~/moj-ucet/sposoby-dopravy/pridat");
    string urlUpdate = Url.Content("~/moj-ucet/sposoby-dopravy/upravit");
    string urlDelete = Url.Content("~/moj-ucet/sposoby-dopravy/odstranit");
}

<h1>SPÔSOBY DOPRAVY</h1>
@{
    var grid = new WebGrid(null, rowsPerPage: Model.ItemsPerPage, defaultSort: "TransportOrder");
    grid.Bind(Model.Items, rowCount: Model.TotalItems, autoSortAndPage: false);
    @grid.GetHtml(
                    htmlAttributes: new { @id = "transporttypeslist" },
                    mode: WebGridPagerModes.All,
                    tableStyle: "webgrid",
                    headerStyle: "",
                    footerStyle: "paging",
                    alternatingRowStyle: "",
                    columns: grid.Columns(
                        grid.Column("", "", format: a =>
                            Html.Raw(
                            "<span class='tools'>" +
                            "<a href='" + string.Format("{0}?id={1}", urlUpdate, a.pk.ToString()) + "' title='Upraviť spôsob dopravy' class='nowrap'><i class='fa fa-edit'></i></a>"
                            + "&#160;&#160;" +
                            "<a href='" + string.Format("{0}?id={1}", urlDelete, a.pk.ToString()) + "' title='Odstrániť spôsob dopravy' class='nowrap'><i class='fa fa-trash'></i></a>"
                            + "</span>")),
                        grid.Column("TransportOrder", "Poradie", canSort: true),
                        grid.Column("Code", "Kód", canSort: true),
                        grid.Column("Name", "Názov", canSort: true),
                        grid.Column("VatPerc", "% DPH", canSort: true),
                        grid.Column("PriceNoVat", "Cena bez DPH", canSort: true),
                        grid.Column("PriceWithVat", "Cena s DPH", canSort: true),
                        grid.Column("GatewayTypeId", "Druh dopravy", canSort: true, format: a => a.GatewayTypeName)
             ));

    <script type="text/javascript">
        $(function () {
            $('#transporttypeslist thead tr th:first').html(
                "<a href='@urlInsert' class='btn btn-default' title='Pridať spôsob dopravy'>Pridať</a>"
                );
        });
    </script>

}
