@using eshoppgsoftweb.lib.Models.Ecommerce
@model ProductPriceListModel

@{
    string urlInsert = Url.Content("~/moj-ucet/produkty/ceny/pridat");
    string urlUpdate = Url.Content("~/moj-ucet/produkty/ceny/upravit");
    string urlDelete = Url.Content("~/moj-ucet/produkty/ceny/odstranit");
}

<h1>CENY PRODUKTU</h1>
<div class="product-price-search">
    <input id="productPriceSearch" name="productPriceSearch" class="form-control" placeholder="Vyhľadať iný produkt ..." />
    <i id="spinProductPriceSearch" class="fa fa-spinner fa-spin hidden"></i>
    <a href="#" class="hidden" id="changeProductPriceLink" name="changeProductPriceLink"></a>
</div>

@Html.Partial("ProductHeader", Model.Product)
@{
    var grid = new WebGrid(null, rowsPerPage: Model.Count + 1);
    grid.Bind(Model, rowCount: Model.Count + 1, autoSortAndPage: false);
    @grid.GetHtml(
                    htmlAttributes: new { @id = "productpricelist" },
                    mode: WebGridPagerModes.All,
                    tableStyle: "webgrid",
                    headerStyle: "",
                    footerStyle: "paging",
                    alternatingRowStyle: "",
                    columns: grid.Columns(
                        grid.Column("", "", format: a =>
                            Html.Raw(
                            "<span class='tools'>" +
                            "<a href='" + string.Format("{0}?id={1}", urlUpdate, a.pk.ToString()) + "' title='Upraviť cenu' class='nowrap'><i class='fa fa-edit'></i></a>"
                            + "&#160;&#160;" +
                            "<a href='" + string.Format("{0}?id={1}", urlDelete, a.pk.ToString()) + "' title='Odstrániť cenu' class='nowrap'><i class='fa fa-trash'></i></a>"
                            + "</span>")),
                        grid.Column("ValidFrom", "Platí od", canSort: false),
                        grid.Column("ValidTo", "Platí do", canSort: false),
                        grid.Column("VatRate", "DPH %", canSort: false),
                        grid.Column("Price_1_NoVat", "Cena bez DPH", canSort: false),
                        grid.Column("Price_1_WithVat", "Cena s DPH", canSort: false)
             ));
    <script type="text/javascript">
        $(function () {
            $('#productpricelist thead tr th:first').html(
                "<a href='@string.Format("{0}?productId={1}", urlInsert, Model.Product.pk.ToString())' class='btn btn-default' title='Pridať cenu'>Pridať</a>"
                );
        });
    </script>
}

<div class="naplnspajzu-form">
    <div class="row">
        <div class="col-md-12">
            <a href="@Url.Content("~/moj-ucet/produkty")" class="btn btn-default">Späť na produkty</a>
        </div>
    </div>
</div>

