@inherits Umbraco.Web.Macros.PartialViewMacroPage

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="feature-item">
                <div class="feature-img">
                    <img src="@Url.Content("~/Styles/images/ikona-rychla-objednavka-feature.png")" />
                </div>
                <div class="feature-text">
                    Rýchla objednávka
                    <br />
                    online
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="feature-item">
                <div class="feature-img">
                    <img src="@Url.Content("~/Styles/images/ikona-doprava-feature.png")" />
                </div>
                <div class="feature-text">
                    Bezplatné doručenie
                    <br />
                    k vám domov
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="feature-item">
                <div class="feature-img">
                    <img src="@Url.Content("~/Styles/images/ikona-platba-karto-ua-v-hotovosti.png")" />
                </div>
                <div class="feature-text">
                    Platba kartou alebo v hotovosti
                    <br />
                    pri doručení
                </div>
            </div>
        </div>
    </div>
</div>
